.card
  display: flex
  flex-direction: column
  margin: $gutterWidth 0
  +justifyText

  .card-img
    width: 100%

  .card-title
    text-transform: uppercase
    text-align: center
    letter-spacing: 1.3px

  .card-info
    +justifyText
    line-height: 1.3rem
    letter-spacing: 1.05px
    white-space: pre-line

  .card-link
    padding-left: 5px
    color: $accentColor
    +transition
    &:hover
      color: darken($accentColor, 30)

@media screen and (min-width: 1024px)
  .card
    display: flex
    margin: 1rem 0
    &:nth-child(odd)
      flex-direction: row
    &:nth-child(even)
      flex-direction: row-reverse

    .card-img
      width: 40%
      align-self: flex-start

    .card-text
      margin: auto

    .card-info
      margin-left: $gutterWidth
      padding: 0 1rem
