#study
  background: $secondaryColor
  +sectionWidth

  .section-title
    +sectionTitle
    text-align: center

  .pubblications
    +justifyText

    .pubblications-list
      list-style: none
      margin: $gutterWidth 0
      letter-spacing: 1.3px
      padding: 0
      li
        padding: ($gutterWidth / 2)

      .book-link
        text-decoration: none
        color: #8317db
        +transition
        &:hover
          color: #c587df

@media screen and (min-width: 600px)
  .study-grid
    width: 80%

@media screen and (min-width: 1024px)
  .section-title
    font-size: 1.5rem

  #timeline
    grid-area: timeline

  #study-img
    grid-area: study-img
    width: 100%
    align-self: center

  #pubblicazioni
    grid-area: pubblicazioni

  .study-grid
    display: grid
    grid-template-columns: 60% 40%
    grid-template-areas: "timeline study-img" "timeline study-img" "timeline pubblicazioni" "timeline pubblicazioni"
