#study
  background: $secondaryColor

  .section-title
    +sectionTitle
    text-align: center

  .pubblications
    +justifyText

    .pubblications-list
      list-style: none
      margin: $gutterWidth 0
      letter-spacing: 1.3px
      li
        padding: ($gutterWidth / 2) 0
