// Style and ispiration taken from Alan Houser https://codepen.io/alanhouser/pen/aErrQJ?editors=0100

$spacing: 50px
$radius: 4px

$date: 120px
$dotborder: 4px
$dot: 11px
$line: 4px

/* Timeline */

.timeline
  border-left: 5px solid $primaryColor
  border-bottom-right-radius: $radius
  border-top-right-radius: $radius
  color: $darkColor
  margin: $gutterWidth auto
  letter-spacing: 0.7px
  position: relative
  line-height: 1.4em
  padding: $spacing
  max-width: 50%

  .event
    padding-bottom: $spacing
    position: relative

    &:last-of-type
      padding-bottom: 0
      margin-bottom: 0
      border: none


    &::before,
    &::after
      position: absolute
      display: block
      top: 0


    &::before
      padding-left: $gutterWidth
      left: ((($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5) * -1
      color: $darkColor
      content: attr(data-date)
      text-align: right
      min-width: 120px
      opacity: 0.7


    &:after
      box-shadow: 0 0 0 3px $primaryColor
      left: ($spacing + $line + ($dot * 0.35)) * -1
      background: $lightColor
      border-radius: 50%
      height: 11px
      width: 11px
      content: ''
      top: 5px

  .event-info
    +justifyText
