// Colors
$primaryColor: linear-gradient(to bottom, #ffb280, #ff7e5f)
$secondaryColor: linear-gradient(to right, #ffd9b2, #ffe6e6)
$accentColor: #8317db
$lightColor: #fff
$darkColor: #333

// Typography
$typeface: 'Roboto', sans-serif

// Layout
$gutterWidth: 2rem

// Timeline
$spacing: 50px
$radius: 4px
$date: 120px
$dotborder: 4px
$dot: 11px
$line: 4px
